# Python-related files
*.pyc
__pycache__/

# Virtual environment
venv/

# Environment variables
.env

# Ignore the instance folder
instance/
# Ignore SQLite database files
*.db
# Ignore database dumps or backups
*.dump
*.sql

# Add any other system-generated or unnecessary files
venv/
__pycache__/
*.log

# Redis
dump.rdb

# Other
.idea/
.vscode/
.DS_Store

app.yaml

worker.yaml

